version: '3.8'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: flos_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  api:
    build:
      context: ./api
      dockerfile: ../Dockerfile.api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/flos_db
    depends_on:
      - db
    volumes:
      - ./api:/app

  worker:
    build:
      context: ./worker
      dockerfile: ../Dockerfile.worker
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/flos_db
    depends_on:
      - db
    volumes:
      - ./worker:/app

volumes:
  postgres_data:
